.item {
    padding: 10px;
    line-height: 1.5rem;
    margin: 20px 20px;
    background: #EFF0F6;
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    font-weight: lighter;
    border-radius: 10px ;
    color: dimgray;

}

.header {
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    height: 60px;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: #672267;
}