.nav {
    margin-top: 20px;
    grid-area: n;
    background-color: white;
    padding: 20px;
    height: 300px;
    box-shadow: 0 1px rgba(0, 0, 0, .2);

}

.item a{
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 500ms  ease;
    color: #9F699F;
    text-decoration: none;
}

.item a.active{
    color: #672267;
}

.item {
    padding: 5px;
}

.itemMarg {
    padding: 5px;
    margin: 20px 0px 0px 0px;
}


.item:hover a{
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    transition: all 200ms  ease;
    color: #672267;
    border-radius: 5px ;
}

@media (max-width: 1000px) {
    .nav {
        display: flex;
        justify-content: space-around;
        height: 100px;
        margin-left: 20px;
        margin-right: 20px;
        flex-wrap: wrap;
    }
}


