.profileInfo {
 padding: 20px;
}

.header_picture {
    height: 150px;
    width: 100%;
    border-radius: 5px ;
}

.ava {
    height: 150px;
    width: 150px;
    border-radius: 5px ;
    margin: 10px;
}

.fullN {
    margin: 20px 0px 20px 0px;
    font-size: 30px;
    line-height: 20px;
    color: black;
}
