.topBlock {
    display: grid;
    grid-template-areas: "p n";
    grid-template-columns: 180px 1fr ;
    margin-bottom: 40px;
}

.profileInfo {
    padding: 20px;
    box-shadow: 0 3px rgba(0, 0, 0, .2);
    margin-bottom: 10px;
    background-color: white;
}

.ava {
    height: 150px;
    width: 150px;
    border-radius: 15px ;
    grid-area: p;

}

.fullN {
    margin-top: 20px;
    font-size: 30px;
    line-height: 25px;
    color: black;
    grid-area: n;
}

.status {
    font-size: 20px;
    line-height: 20px;
    color: gray;
}

.statusInput {
    font-size: 20px;
    line-height: 20px;
    color: gray;
    margin-top: 15px;
    width: 100%;
    max-width: 300px;
}

.bottomBlock {
    display: grid;
    grid-template-areas: "am amd" "c cl " "eb cl";
    grid-template-columns: 120px 1fr ;
    grid-template-rows: 30px 30px 1fr;
    margin-bottom: 20px;
    line-height: 25px;
}

.aboutMe {
    grid-area: am;
    color: #672267;
    font-size: 20px;
    text-overflow: ellipsis;
}

.aboutMeDescr {
    grid-area: amd;
    color: #9F699F;

}

.contacts {
    grid-area: c;
    color: #672267;
    font-size: 20px;
}

.contactsList {
    grid-area: cl;
    color: #9F699F;
}

.changeAvatarButton {
    /*color: #FFFFFF;*/
    /*border-radius: 10px;*/
    /*height: 35px;*/
    /*margin-top: 15px;*/

    border: 1px solid #672267;
    color: #672267;
    border-radius: 20px;
    height: 30px;
    background-color: #EFF0F6;
    cursor: pointer;
    padding: 0 6px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 5px;
}



.editButton {
    line-height: 1rem;
    grid-area: eb;
    border: 1px solid #672267;
    color: #672267;
    border-radius: 20px;
    width: 90px;
    height: 30px;
    background-color: #EFF0F6;
    margin-top: 15px;
}

.editButton:hover {
    cursor: pointer;
}

.editButton:active {
    border: 1px solid #9F699F;
    background-color: #E9E7ED;
}

.formSummaryError {
    grid-area: err;
    padding: 10px;
    color: rosybrown;
}

input[type="file"] {
    display: none;
}

@media (max-width: 550px) {
    .ava {
        height: 100px;
        width: 100px;
    }
    .topBlock {
        grid-template-columns: 120px 1fr ;
    }
    .fullN {
        margin-top: 20px;
        font-size: 20px;
        line-height: 20px;
    }

    .status {
        font-size: 15px;
        line-height: 15px;
    }

    .aboutMe {
        font-size: 1rem;
    }

    .aboutMeDescr {
        font-size: 0.8rem;
    }

    .contacts {
        font-size: 1rem;
    }

    .contactsList {
        font-size: 0.8rem;
    }
    .editButton {
        width: 85px;
    }
    .changeAvatarButton {
        font-size: 0.9rem;
        margin-left: -7px;
    }
    .editButton {
        font-size: 0.9rem;
    }
}