
.item {
    display: grid;
    grid-template-areas: "i m" "l .";
    grid-template-rows: 1fr 50px;
    grid-template-columns: 100px 1fr;
    margin: 20px 0px;
    background: #EFF0F6;
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    font-weight: lighter;

    border-radius: 10px ;
}


.likeButton {
    grid-area: l;
    border-radius: 15px;
    border: 1px  white;
    background-color: white;
    padding: 5px;
    padding-right: 10px;
    margin-left: 10px;
}

.postMessage {
    grid-area: m;
    margin: 10px;
}

.postImage {
    width: 90px;
    height: 90px;
    grid-area: i;
    border-radius: 15px ;
    box-shadow: 1px 2px rgba(0, 0, 0, .4);
    margin: 10px;
}


