.checkbox {
    display: inline-block;
}
.checkboxText {
    display: inline-block;
    padding-left: 5px;
}

.formSummaryError {
    padding: 5px;
    color: rosybrown;
}


.inputField {
    margin-top: 10px;
}

.loginButton {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100px;
    border: 1px solid #672267;
    color: #672267;
    border-radius: 20px;
    background-color: #EFF0F6;
    cursor: pointer;
}

.loginButton:active {
    border: 1px solid #9F699F;
    background-color: #E9E7ED;
}

.loginForm {
    margin: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.text {
    padding: 10px;
    line-height: 1.5rem;
    background: #EFF0F6;
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    font-weight: lighter;
    border-radius: 10px ;
    width: 310px;
    color: dimgray;
}

.leftPart {
    margin-right: 20px;
}

.header {
    box-shadow: 0 2px rgba(0, 0, 0, .2);
    height: 60px;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 1.7rem;
    color: #672267;
}