.app-wrap {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas: "h h" "n p";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
  font-family: "ＭＳ Ｐゴシック";
  font-weight: bolder;


}

.app-wrap-content  {
  grid-area: p;
  /*background-color: #ffdead;*/
  background-color: #FFEBE4;
  box-shadow: 3px 3px dimgray;
  border-radius: 5px ;
}




