.app-wrap {
  display: grid;
  grid-template-areas: "h h h h" ". n p .";
  grid-template-rows: 70px 1fr;
  grid-template-columns:3fr 170px 10fr 3fr;
  font-family: "Open Sans", monospace;
  font-weight: normal;
  font-size: 1.1rem;
}

.app-wrap-content  {
  margin-top: 20px;
  margin-left: 20px;
  grid-area: p;
  background-color: rgba(207, 168, 207, 0.2)
}

@media (max-width: 800px) {
  .app-wrap {
    grid-template-columns:20px 150px 1fr 20px;
  }
}





